<!-- Info.plist -->

<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
    <!-- Location Usage Descriptions -->
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Keep ValidationRelay alive in the background</string>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>Keep ValidationRelay alive in the background</string>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>Keep ValidationRelay alive in the background</string>
    
    <!-- Background Modes -->
    <key>UIBackgroundModes</key>
    <array>
        <string>location</string>
        <string>processing</string>
        <string>fetch</string>
        <string>remote-notification</string>
    </array>
    
    
</dict>
</plist>
